.card {
  display: flex;
  border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
}
.visuals {
  max-width: 100px;
  height: 100%;
  margin: 0.5em;
  img {
    width: 100%;
    height: 100%;
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  h1 {
    color: black;
    font-family: "Bebas Neue";
    margin: 0 0 0.1em 0;
  }
  p {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Bebas Neue";
  }
}
#movieInfoWrapper {
  background-color: white;
  font-family: "Bebas Neue";
  margin: 2 0 0.1em 0;
  z-index: 0;
}
#movieInfoModal {
  z-index: 1;
}
#movieTitel {
  text-align: center;
  z-index: 1;
}
#movieInfoText {
  text-align: left;
  font-family: "areal round";
  font-weight: normal;
  font-size: 1rem;
  z-index: 1;
}
#movieBooking-cta {
  background-color: $cDarkGreen;
  width: 8rem;
  font-weight: bold;
  margin-top: -1rem;
  margin-left: 55rem;
}
#movieImgInfo {
  margin-top: -30rem;
  padding-bottom: 1.5rem;
  width: 20%;
  z-index: 1;
}
#smallText {
  margin-left: -1rem;
  font-size: 1rem;
  padding: 1rem;
}
#backgroundImg {
  width: 100%;
  height: 40%;
  z-index: 0;
}
