.card {
  position: relative;
  display: flex;
  border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
}
@keyframes fadeIntoCinema {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.videoModal {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  animation: fadeIntoCinema 0.3s ease forwards;

  .video-trailer {
    width: 100%;
    height: 15em;
    border: none;
  }
}
.visuals {
  position: relative;
  max-width: 100px;
  height: 100%;
  margin: 0.5em;
  img {
    width: 100%;
    height: 100%;
  }
  #trailer {
    position: absolute;
    left: 35%;
    bottom: 45%;
    font-size: 2em;
    text-decoration: none;
    color: $cDarkBeige;
    cursor: pointer;
    &:hover {
      color: lighten($cDarkBeige, 5);
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  h1 {
    color: black;
    font-family: "Bebas Neue";
    margin: 0 0 0.1em 0;
    cursor: pointer;
  }
  p {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Bebas Neue";
  }
  h1:hover {
    color: lighten(black, 20);
  }
}
