* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.logoHead {
  background-color: #828278;
}
.logoHead a {
  text-decoration: none;
}
.logoHead #logoSanta {
  display: none;
}
.logoHead .logoContainer {
  margin: 0rem 1rem 0rem 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 20px;
  font-family: "Anton";
}
@media screen and (min-width: 1000px) {
  .logoHead .logoContainer {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .logoHead .logoContainer #logoSanta {
    display: inline-block;
    width: 100px;
  }
}
.logoHead .logoContainer .logoText a {
  color: #333232;
}
@media screen and (min-width: 1000px) {
  .logoHead .logoContainer .logoText a {
    font-size: 50px;
  }
}
.logoHead .logoContainer img {
  width: 50px;
}
@media screen and (min-width: 1000px) {
  .logoHead .logoContainer img {
    width: 150px;
  }
}

/* Add a Dark Beige background color to the top navigation */
.topnav {
  font-family: "Staatliches";
  background-color: #828278;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Staatliches";
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .hamburger {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-family: "Staatliches";
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #828278;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#logoLink {
  padding: 0;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child),
.dropdown .dropbtn {
    display: none;
  }

  .topnav a.hamburger {
    float: left;
    display: block;
  }

  #santaNav {
    width: 80px;
  }
}
@media screen and (min-width: 1000px) {
  #santaNav {
    display: none;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
  .topnav {
    justify-content: space-between;
  }

  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }

  .topnav.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
@media screen and (min-width: 1000px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.commercial {
  display: none;
  min-width: 300px;
}
@media screen and (min-width: 1000px) {
  .commercial {
    display: block;
    grid-column: 1/3;
    margin-top: 190px;
  }
  .commercial .cinemaEventText {
    font-family: "Staatliches";
    color: #ede6e6;
    text-align: center;
    letter-spacing: 1px;
  }
  .commercial .cEvents {
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: default;
  }
  .commercial .cEvents .cImg {
    display: block;
    margin: 10px auto;
    width: 150px;
  }
  .commercial .cEvents .emptyDiv {
    visibility: hidden;
    z-index: 1;
    opacity: 0.4;
    width: 100%;
    padding: 20px 20px;
    background: rgba(126, 89, 82, 0.898);
    color: #e9dce7;
    position: absolute;
    top: 20%;
    left: 30%;
    border-radius: 9px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
    font-family: "Staatliches";
  }
  .commercial .cEvents:hover .emptyDiv {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: 0.3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;
  }
  .commercial .right:hover {
    transform: translateX(6px);
    z-index: 1;
  }
  .commercial .right:hover .emptyDiv {
    top: -20%;
    left: 0%;
  }
  .commercial .right:hover .emptyDiv::after {
    top: 1%;
    left: 50%;
  }
  .commercial .eventContainer {
    background-color: #b8a68b;
    margin: 20px;
    padding: 10px;
  }
}

.movies {
  margin-top: 50px;
  grid-column: 3/11;
}
@media screen and (min-width: 1000px) {
  .movies {
    margin-top: 130px;
  }
}
.movies .categoryForMovies {
  text-align: center;
  padding: 1rem;
  background-color: #779d87;
  font-family: "Bebas Neue";
  letter-spacing: 0.5rem;
  color: #d1d6d3;
  transition: background-color 0.5s ease;
  width: 340px;
  margin: 70px auto;
}
.movies .categoryForMovies:hover {
  background-color: #5b856f;
}
@media screen and (min-width: 1000px) {
  .movies .categoryForMovies {
    width: 70%;
  }
}
.movies .movieContainer {
  padding: 0 10px;
  text-align: center;
}
.movies .movieContainer .movieIndex {
  position: relative;
  margin: 15px 0;
}
@media screen and (max-width: 1310px) {
  .movies .movieContainer .movieIndex {
    width: 80%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 600px) {
  .movies .movieContainer .movieIndex {
    width: 100%;
    margin: 10px 0;
  }
}
.movies .movieContainer .movieIndex img {
  width: 100%;
}
.movies .movieContainer .movieIndex .movieBannerTitle {
  position: absolute;
  bottom: 2%;
  left: 3px;
  color: white;
  font-family: "anton";
  font-size: 15px;
}
@media screen and (min-width: 1000px) {
  .movies .movieContainer .movieIndex .movieBannerTitle {
    font-size: 30px;
  }
}
.movies .movieContainer .movieIndex .movieBannerDate {
  position: absolute;
  top: 2%;
  right: 2%;
  color: white;
  font-size: 20px;
  font-family: "anton";
}

.availableMovies {
  display: none;
}
@media screen and (min-width: 1000px) {
  .availableMovies {
    display: block;
    grid-column: 11/13;
  }
  .availableMovies .kalendarium {
    border: 2px solid #aa6e6e;
    background-color: #aa6e6e;
    color: #f5f0f0;
    font-family: "Staatliches";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 200px 10px 0 10px;
    letter-spacing: 2px;
  }
  .availableMovies .ticketLists {
    background-color: #f8f6f7;
    margin: 0 10px 2rem 10px;
    border: 2px solid #aa6e6e;
  }
  .availableMovies .ticketLists li {
    list-style: none;
    padding: 5px 0;
  }
  .availableMovies .ticketLists h3 {
    text-align: center;
    font-family: "Staatliches";
    color: #464444;
  }
  .availableMovies .ticketLists .time {
    padding: 10px;
  }
  .availableMovies .ticketLists .time .movieListLi {
    font-family: "Titillium Web";
  }
  .availableMovies .ticketLists .time .movieListLi:hover {
    background-color: #f5e5d2;
  }
  .availableMovies .ticketLists .time .ticketIcon {
    color: #bf4c4c;
  }
}

@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(1px);
  }
}
.footer {
  margin-top: 20px;
  letter-spacing: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Staatliches";
  background-color: #828278;
  color: #333232;
}
.footer a {
  text-decoration: none;
  color: #333232;
}
@media screen and (min-width: 1000px) {
  .footer {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .footer .risbackNum {
    border-color: #aca0a0;
    border-style: solid;
    border-width: 0 2px 0 0;
  }
  .footer .risbackMap {
    border-color: #aca0a0;
    border-style: solid;
    border-width: 0 0 0 2px;
  }
  .footer .risbackMap a {
    font-weight: bold;
  }
}
.footer .footerElem {
  padding: 20px;
}

.card {
  position: relative;
  display: flex;
  border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
}

@keyframes fadeIntoCinema {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.videoModal {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: none;
  animation: fadeIntoCinema 0.3s ease forwards;
}
.videoModal .video-trailer {
  width: 100%;
  height: 15em;
  border: none;
}

.visuals {
  position: relative;
  max-width: 100px;
  height: 100%;
  margin: 0.5em;
}
.visuals img {
  width: 100%;
  height: 100%;
}
.visuals #trailer {
  position: absolute;
  left: 35%;
  bottom: 45%;
  font-size: 2em;
  text-decoration: none;
  color: #828278;
  cursor: pointer;
}
.visuals #trailer:hover {
  color: #8e8e85;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.info h1 {
  color: black;
  font-family: "Bebas Neue";
  margin: 0 0 0.1em 0;
  cursor: pointer;
}
.info p {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Bebas Neue";
}
.info h1:hover {
  color: #333333;
}

#movieInfoWrapper {
  background-color: black;
  color: white;
  font-family: "Bebas Neue";
  margin-top: -3.1rem;
  margin-left: 0rem;
  width: 100%;
  z-index: 0;
}
#movieInfoWrapper #movieInfoModal {
  z-index: 1;
}
#movieInfoWrapper #movieTitel {
  text-align: center;
  z-index: 1;
}
#movieInfoWrapper #movieInfoText {
  font-family: "areal round";
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 5rem;
  text-align: center;
  padding: 1rem;
  width: 50rem;
  z-index: 1;
}
#movieInfoWrapper #movieBooking-cta {
  background-color: salmon;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 7rem;
  padding: 0.7rem;
  width: 100%;
}
#movieInfoWrapper #movieBooking-cta:hover {
  color: grey;
}
#movieInfoWrapper #movieImgInfo {
  border-radius: 5px;
  padding-bottom: 1.5rem;
  margin-top: -10rem;
  margin-bottom: 4.5rem;
  width: 10%;
  z-index: 1;
}
#movieInfoWrapper #smallText {
  color: white;
  margin-left: 7rem;
  font-size: 1rem;
  padding: 1rem;
}
#movieInfoWrapper #backgroundImg {
  width: 100%;
  height: 40%;
  z-index: 0;
}
#movieInfoWrapper #movieThumbOne,
#movieInfoWrapper #movieThumbTwo,
#movieInfoWrapper #movieThumbThree {
  height: 25%;
  width: 25%;
  padding: 0.2rem;
}
#movieInfoWrapper #regiActors {
  color: white;
  background-color: hotpink;
  margin-bottom: 0.5rem;
}

.movieMain-ctn {
  padding: 0.6em;
}

.active {
  background-color: #d1d6d3;
  border-radius: 1.5px;
}

.viewOptions {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 0 1em 0;
}
.viewOptions h1 {
  font-family: "Bebas Neue";
}

.filterOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bebas Neue";
}
.filterOptions #movies-today {
  cursor: pointer;
  padding: 0.4em;
}
.filterOptions #movies-upcoming {
  cursor: pointer;
  padding: 0.4em;
}
.filterOptions #movies-children {
  cursor: pointer;
  padding: 0.4em;
}
.filterOptions .filter-btn {
  background-color: #ffff;
  font-family: "Bebas Neue";
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0.4em;
}

.carousel {
  width: 70%;
  margin: 50px auto 0 auto;
  background: #eee;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}
#covidInformation {
  font-family: "Staatliches";
  margin: 4.7em 2em;
}

#covidInformation p {
  padding: 10px 0px;
}

/*# sourceMappingURL=main.css.map */
