<div class="availableMovies">
  <h1 class="kalendarium">kalendarium</h1>
  <div class="ticketLists">
    <div class="today time">
      <h3>Idag</h3>
    </div>
  </div>
  <div class="ticketLists">
    <div class="tomorrow time">
      <h3>Imorgon</h3>
    </div>
  </div>
</div>