<div class="carousel" id="carousel">
  <div class="carousel-cell">
    <img src="./src/img/carousel/dune.jpg" alt="dune" />
  </div>
  <div class="carousel-cell">
    <img src="./src/img/carousel/boss-baby.jpg" alt="boss baby" />
  </div>
  <div class="carousel-cell">
    <img src="./src/img/carousel/venom.jpg" alt="venom" />
  </div>
  <div class="carousel-cell">
    <img
      src="./src/img/carousel/the-matrix-resurrections.jpg"
      alt="The Matrix Resurrections"
    />
  </div>
  <div class="carousel-cell">
    <img src="./src/img/carousel/house-of-gucci.jpg" alt="house of gucci" />
  </div>
  <div class="carousel-cell">
    <img src="src/img/carousel/ainbo.jpg" alt="ainbo" />
  </div>
</div>