 <div class="commercial">
            <div class="cinemaEvent eventContainer">
                <h1 class="cinemaEventText">Bioevenemang</h1>
            </div>
            <div class="snacksEvent eventContainer">
                <h1 class="cinemaEventText">Rabatter</h1>
            </div>
            <div class="movieEvent eventContainer ">
                <h1 class="cinemaEventText ">Filmevent</h1>
            </div>
        </div>