<header>
  <div class="logoHead">
    <div class="logoContainer">
      <img class="logo" src="./src/img/logo.png" />
      <div class="logoText">
        <a href="/">Cinema Risbäck</a>
        <a href="/">
          <img id="logoSanta" src="./src/img/pixlr-bg-result(4).png" />
        </a>
      </div>
    </div>
  </div>
  <nav>
    <div class="topnav" id="navbar">
      <a href="/" id="logoLink">
        <img id="santaNav" src="./src/img/pixlr-bg-result(4).png" />
      </a>
      <a href="/moviePage" class="menuMovies">Filmer</a>
      <a href="/tickets">Biljetter/reservation</a>
      <div class="dropdown">
        <button class="dropbtn">
          Om oss
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">FAQ</a>
          <a href="#">Återbetalningsgaranti</a>
          <a href="#">Historia</a>
          <a href="#">Öppettider</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          Meny snacks
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Sortiment</a>
          <a href="#">Kampanj</a>
          <a href="#">Dricka/Kaffe</a>
          <a href="#">Menyer</a>
        </div>
      </div>
      <a href="/covid" class="Covid-info">Covid-info</a>
      <a href="javascript:void(0)" class="hamburger">&#9776;</a>
    </div>
  </nav>
</header>