.mainContainer {
  @include desktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
.commercial {
  display: none;
  @include desktop {
    display: block;
    grid-column: 1/3;
    margin-top: 190px;
    #cinemaEventText {
      font-family: "Staatliches";
      color: rgb(237, 230, 230);
      text-align: center;
      letter-spacing: 1px;
    }
    .cEvents {
      @include parentDiv;
      .cImg {
        display: block;
        margin: 10px auto;
      }
      .emptyDiv {
        @include emptyDiv;
      }
      &:hover .emptyDiv {
        @include emptyDivHover;
      }
    }
    .right:hover {
      transform: translateX(6px);
      .emptyDiv {
        top: -20%;
        left: 0%;
      }
      .emptyDiv::after {
        top: 1%;
        left: 50%;
      }
    }
    .eventContainer {
      background-color: $cLightBrown;
      margin: 20px;
      padding: 10px;
    }
  }
}
.movies {
  margin-top: 50px;
  @include desktop {
    margin-top: 130px;
  }
  .categoryForMovies {
    text-align: center;
    padding: 1rem;
    background-color: $cDarkGreen;
    font-family: "Bebas Neue";
    letter-spacing: 0.5rem;
    color: rgb(209, 214, 211);
    transition: background-color 0.5s ease;
    width: 340px;
    margin: 0 auto;
    &:hover {
      background-color: rgb(91, 133, 111);
    }
    @include desktop {
      width: 100%;
    }
  }
  .moreMovies {
    text-align: center;
    margin: 2.2rem 0;
    cursor: pointer;
  }
  grid-column: 3/11;
  .movieContainer {
    border: 2px solid rgb(204, 185, 146);
    padding: 0 10px;
    text-align: center;
    .movieLists {
      border: 1px solid rgb(204, 185, 146);
      padding: 80px 0;
      margin: 1rem 0;
      @include desktop {
        padding: 150px 0;
        margin: 3rem 0;
      }
    }
  }
}
.availableMovies {
  display: none;
  @include desktop {
    display: block;
    grid-column: 11/13;
    .kalendarium {
      border: 2px solid rgb(170, 110, 110);
      background-color: rgb(170, 110, 110);
      color: rgb(245, 240, 240);
      font-family: $font;
      @include justifyCenter;
      align-items: center;
      height: 50px;
      margin: 200px 10px 0 10px;
      letter-spacing: 2px;
    }
    .ticketLists {
      background-color: rgb(248, 246, 247);
      margin: 0 10px 2rem 10px;
      border: 2px solid rgb(170, 110, 110);
      li {
        list-style: none;
        padding: 5px 0;
      }
      h3 {
        text-align: center;
        font-family: $font;
        color: rgb(70, 68, 68);
      }
      .time {
        padding: 10px;
        .movieListLi {
          font-family: "Titillium Web";
          &:hover {
            background-color: rgb(245, 229, 210);
          }
        }
        .ticketIcon {
          color: $cDarkRed;
        }
      }
    }
  }
}

@keyframes odsoky {
  0% {
    transform: translateY(6px);
  }

  100% {
    transform: translateY(1px);
  }
}
