.logoHead {
  background-color: $cDarkBeige;
  a {
    text-decoration: none;
  }
  #logoSanta {
    display: none;
  }
  .logoContainer {
    margin: 0rem 1rem 0rem 0;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    font-family: "Anton";
    @include desktop {
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      #logoSanta {
        display: inline-block;
        width: 100px;
      }
    }
    .logoText {
      a {
        color: $cDarkgrey;
        @include desktop {
          font-size: 50px;
        }
      }
    }
    img {
      width: 50px;
      @include desktop {
        width: 150px;
      }
    }
  }
}

/* Add a Dark Beige background color to the top navigation */

.topnav {
  font-family: $font;
  background-color: $cDarkBeige;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* Style the links inside the navigation bar */

.topnav a {
  font-family: $font;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .hamburger {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */

.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */

.dropdown .dropbtn {
  font-family: $font;
  font-size: 1.2rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $cDarkBeige;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: white;
}

/* Add a dark background on topnav links and the dropdown button on hover */

.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */

.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: $bpDesktop) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.hamburger {
    float: left;
    display: block;
  }
  #santaNav {
    width: 80px;
  }
}

@include desktop {
  #santaNav {
    display: none;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: $bpDesktop) {
  .topnav {
    justify-content: space-between;
  }
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }
  .topnav.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
