$bpDesktop: 1000px;
$cDarkgrey: rgb(51, 50, 50);
$cDarkBeige: rgb(130, 130, 120);
$cDarkWhite: rgb(209, 214, 211);
$cDarkGreen: rgb(119, 157, 135);
$cDarkBrown: rgba(126, 89, 82, 0.898);
$cDarkRed: rgb(191, 76, 76);
$cLightBrown: rgb(184, 166, 139);
$font: "Staatliches";
