.mainContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    .commercial{
        background-color: palevioletred;
    }
    .movies{
        background-color: bisque;
    }
    .movieLists{
        background-color: plum;
    }
}