* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-x: hidden;
}
body{
  height:100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

@import './misc/variable';
@import './misc/mixins';
@import './indexPage/navbar';
@import './indexPage/mainContainer';
@import './indexPage/footer';